<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Exercício</title>
        <link href="style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- Linha 1 -->
        <div class="row linha1">   
            <div class="col"></div>
        </div>
        <!-- Linha 2 -->
        <div class="row linha2">   
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <!-- Linha 3 -->
        <div class="row linha3">   
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <!-- Linha 4 -->
        <div class="row linha4">   
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <!-- Linha 5 -->
        <div class="row linha5">   
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <!-- Linha 6 -->
        <div class="row linha6">   
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <!-- Linha 7 -->
        <div class="row linha7">   
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </body>
</html>